$navbar-dark-color: black;
$navbar-dark-active-color: #808080;
$navbar-dark-hover-color: #808080;
$dark: white;
$primary: #F29F05;
//$font-family-sans-serif: "Open Sans";
$navbar-dark-toggler-border-color: #808080;
//$h6-font-size: 0.8em;

@import "partials/layout";
@import "partials/typography";
@import "partials/base";
@import "partials/home";
@import "partials/modal";




