$light: white;
$primary: #F29F05;
$secondary: #F2B705;
$success: #22B527;
$colorDarkGrey: #808080;
$colorLightGrey: #F7F7F7;
$colorOrange: #F25C05;
$dark: #592115;
$link-color: $colorOrange;
$link-hover-color: $colorOrange;
$navbar-dark-color: $colorLightGrey;
$navbar-dark-active-color: $light;
$navbar-dark-hover-color: $light;
$font-family-sans-serif: 'Montserrat',
sans-serif;
$navbar-dark-toggler-border-color: $colorDarkGrey;
//$h6-font-size: 0.8em;



@import "partials/layout";
@import "partials/typography";
@import "partials/base";
@import "partials/home";
@import "partials/modal";
@import "partials/accommodations";
@import "partials/accommodation";
@import "partials/forms";
@import "partials/admin";
@import "partials/common";