.accommodation--facility {
  background-color: $colorDarkGrey
}

.accommodation--image {
  border-radius: 20px;
  cursor: pointer;
}

.enquiryform--container {
  border: 5px solid $colorDarkGrey;
  padding-top: 70px;
  padding-bottom: 50px;
  border-radius: 20px;
  margin-top: 70px;
}