.accommodation--facility {
  background-color: $colorDarkGrey
}

.accommodation--image {
  border-radius: 20px;
  border: 1px solid #808080;
}

.enquiryform--container {
  background-color: $colorDarkGrey;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 20px;
  margin-top: 70px;
}