.accommodations--image {
  border-radius: 20px;
  border: 1px solid #808080;
}

.accommodations a{
  text-decoration: none;
  color: black;
}

.accommodations--facility {
  background-color: $colorDarkGrey;
}

.question {
  background-color: #808080;
}