.admin-section {
  min-height: 75vh;
  padding-top: 150px;
}

.mainpic--container {
  width: 260px;
  height: 260px;
  cursor: pointer;
}

.subpic--container {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.posts {
  background-color: $colorDarkGrey;
  color:white;
}